.pure-blue {
  background: #1f8dd6;
  color: #fff;
}
.pure-purple {
  background: #8058a5;
  color: #fff;
}
.pure-green {
  background: #5eb95e;
  color: #fff;
}
.pure-red {
  background: #dd514c;
  color: #fff;
}
.pure-orange {
  background: #f37b1d;
  color: #fff;
}
.pure-yellow {
  background: #fad232;
  color: #fff;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body,
html {
  font-size: proxima-nova, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}
#container {
  min-width: 960px;
  padding-top: 50px;
}
.wrap {
  width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}
ul {
  list-style: none;
  margin: 0;
}
a {
  text-decoration: none;
}
.button-xsmall {
  font-size: 70%;
}
.button-small {
  font-size: 85%;
}
.button-large {
  font-size: 125%;
}
.button-xlarge {
  font-size: 135%;
}
.m-nav {
  background: #f5f5f5;
  color: #fafafa;
  position: fixed;
  top: 0;
  height: 50px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  width: 100%;
  z-index: 100;
}
.m-nav li {
  display: inline-block;
}
.m-nav .home {
  color: #dd514c;
  font-size: 24px;
  line-height: 50px;
  height: 50px;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.m-nav .nav {
  display: inline-block;
}
.m-nav .nav.external {
  float: right;
}
.m-nav .nav.internal {
  vertical-align: top;
  margin-left: 20px;
}
.m-nav .nav a {
  padding: 0 10px;
  line-height: 50px;
  display: inline-block;
  height: 50px;
  color: #666;
  font-size: 16px;
}
.m-nav .nav a:hover {
  color: #111;
}
.m-hero {
  height: 350px;
  background: #171f26;
  color: #e9e9e9;
  padding-top: 90px;
  font-weight: 300;
  overflow: hidden;
}
.m-hero .header {
  font-size: 48px;
  text-align: center;
  font-weight: 400;
  line-height: 48px;
  color: #dd514c;
  font-weight: 400;
}
.m-hero .desc {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  color: #888;
}
.m-hero .units {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}
.m-hero .units a {
  margin-right: 20px;
}
.m-hero .units a:hover {
  color: #fff;
}
.m-intro {
  margin-top: 50px;
  margin-bottom: 30px;
}
.m-intro .title {
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  color: #1f8dd6;
}
.m-intro p {
  color: #444;
  line-height: 24px;
  margin: 10px 0;
}
.m-article {
  margin-top: 50px;
}
.m-article .article-header {
  padding-bottom: 20px;
}
.m-article .article-title {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-decoration: none;
  color: #444;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
a.m-article .article-title:hover {
  color: #1094e8;
}
.post .m-article .article-title {
  float: none;
}
.m-article .content {
  line-height: 1.6em;
  color: #444;
}
@media print {
  .m-article .content {
    font-size: 12pt;
  }
}
.m-article .content p,
.m-article .content ol,
.m-article .content ul,
.m-article .content dl,
.m-article .content table,
.m-article .content blockquote,
.m-article .content iframe,
.m-article .content .highlight {
  margin: 1em 0;
}
.m-article .content h1 {
  font-size: 2em;
}
.m-article .content h2 {
  font-size: 1.5em;
}
.m-article .content h3 {
  font-size: 1.3em;
}
.m-article .content h1,
.m-article .content h2,
.m-article .content h3,
.m-article .content h4,
.m-article .content h5,
.m-article .content h6 {
  line-height: 1em;
  font-weight: bold;
  margin: 1em 0;
}
.m-article .content a {
  color: #0e83cd;
  text-decoration: none;
}
.m-article .content a:hover {
  color: #1094e8;
  text-decoration: underline;
}
@media print {
  .m-article .content a {
    color: #444;
    text-decoration: underline;
  }
  .m-article .content a:after {
    content: " (" attr(href) ")";
    font-size: 80%;
  }
}
.m-article .content strong {
  font-weight: bold;
}
.m-article .content em {
  font-style: italic;
}
.m-article .content ul,
.m-article .content ol,
.m-article .content dl {
  margin-left: 20px;
}
.m-article .content ul ul,
.m-article .content ol ul,
.m-article .content dl ul,
.m-article .content ul ol,
.m-article .content ol ol,
.m-article .content dl ol,
.m-article .content ul dl,
.m-article .content ol dl,
.m-article .content dl dl {
  margin-top: 0;
  margin-bottom: 0;
}
.m-article .content ul {
  list-style: disc;
}
.m-article .content ol {
  list-style: decimal;
}
.m-article .content dl {
  list-style: square;
}
.m-article .content li p {
  margin: 0;
}
.m-article .content li table,
.m-article .content li blockquote,
.m-article .content li iframe,
.m-article .content li .highlight {
  margin: 1em 0;
}
.m-article .content img,
.m-article .content video {
  max-width: 100%;
}
.m-article .content blockquote {
  padding: 0 20px;
  position: relative;
  border: 1px solid #e3e3e3;
  border-left: 5px solid #ddd;
}
.m-article .content blockquote footer {
  margin: 1em 0;
  font-style: italic;
}
.m-article .content blockquote footer cite:before {
  content: "—";
  padding: 0 0.3em;
}
.m-article .content blockquote footer cite a {
  color: color-grey;
}
.m-article .content .note.tip {
  border-left-color: note-tip;
}
.m-article .content .note.info {
  border-left-color: note-info;
}
.m-article .content .note.warn {
  border-left-color: note-warn;
}
.m-article .content .note-title {
  margin: 1em 0;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
}
.m-article .content table {
  max-width: 100%;
  border: 1px solid #e3e3e3;
}
.m-article .content table th {
  font-weight: bold;
}
.m-article .content table th,
.m-article .content table td {
  padding: 5px 15px;
}
.m-article .content table tr:nth-child(2n) {
  background: #eee;
}
.m-sidebar {
  width: 220px;
  float: left;
  padding-bottom: 40px;
  opacity: 0.8;
  margin-left: -220px;
  display: none;
}
@media screen and (min-width: 769px) {
  .m-sidebar {
    display: block;
  }
}
.sidebar-title {
  margin-top: 40px;
  padding: 10px 0;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #0e83cd;
  display: inline-block;
  border-top: 1px solid #e3e3e3;
  line-height: 1;
}
.sidebar-link {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  color: #444;
  text-decoration: none;
  padding: 7px 0;
  line-height: 1;
  position: relative;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.sidebar-link.current {
  color: #0e83cd;
}
.sidebar-link:hover {
  color: #1094e8;
}
.footer {
  font-size: 87.5%;
  border-top: 1px solid #eee;
  margin-top: 3.4286em;
  padding: 1.1429em;
  background: #fafafa;
}
.footer a {
  color: #404b55;
  line-height: 18px;
  display: inline-block;
  min-width: 4em;
  text-align: center;
  text-decoration: none;
}
.footer a:hover {
  color: #1f8dd6;
}
.footer p {
  text-align: center;
}
pre,
code {
  font-family: "Source Code Pro", Monaco, Menlo, Consolas, monospace;
  color: #4d4d4c;
  background: #eee;
  font-size: 0.95em;
}
code {
  padding: 0 5px;
}
pre {
  padding: 10px 15px;
  line-height: 22px;
}
pre code {
  border: none;
  display: block;
  padding: 0;
}
.highlight {
  background: #f8f5ec;
  padding: 10px 15px;
  color: #4d4d4c;
  overflow: auto;
  margin: 0;
}
.highlight table {
  margin: 0 !important;
  border: 0 !important;
}
.highlight table th,
.highlight table td {
  padding: 0;
}
.highlight figcaption {
  margin: -5px 0 5px;
  font-size: 0.9em;
  color: #999;
}
.highlight figcaption:before,
.highlight figcaption:after {
  content: "";
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight figcaption a {
  float: right;
}
.highlight pre {
  padding: 0;
  border: none;
  background: none;
}
.highlight .line {
  height: 22px;
}
pre .comment,
pre .title {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #718c00;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
#ember-semantic-ui-demo {
  margin-top: 20px;
}
