
<div class="ui menu">
    {{#link-to "ember-easy-orm.index" class="item" }} index {{/link-to}}
    {{#link-to "ember-easy-orm.store" class="item" }} store {{/link-to}}
    {{#link-to "ember-easy-orm.form" class="item" }} form {{/link-to}}
</div>


{{outlet}}