
<div class="ui menu">
    <LinkTo @route="ember-easy-orm.index" class="item" >index</LinkTo>
    <LinkTo @route="ember-easy-orm.store" class="item" >store</LinkTo>
    <LinkTo @route="ember-easy-orm.form" class="item" >form</LinkTo>
</div>


{{outlet}}